* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgba(255, 255, 201, 0.651);
  display: grid;
  place-content: center;
}
.app {
  background: #c9c9c944;
  min-height: 66vh;
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
}
